*.bin
serving/
.vscode/
GitToc/
*.pkl
*.xlsx
*.png
__MACOSX/
*backup*/
*.dat
*.zip
*.swp
*.tgz
temp*/
nohup.out
*.log
!*.pb
.ipynb_checkpoints/
checkpoint/
.idea/
*.pyc
__pycache__/
.DS_Store
*.JD.LOCAL
*.local
*JD*
*jd*